<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="net.amay077.TransportControl" android:installLocation="auto" android:theme="@style/MyTheme">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="TransportControl" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBu7KOemz3YAbbn5BuJQA5a-5QZZG29X-Y" />
	</application>
</manifest>